.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: white;
  border-radius: 8px;
  padding: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-back {
  align-self: flex-start;
  margin-top: -20px;
  margin-left: -20px;
}
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.ant-input-password {
  height: 37px;
}
.ant-input {
  height: 37px;
}

.ant-btn {
  height: 40px;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.pages-notfound {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
}
